.menu-link {
  @apply text-sm font-bold uppercase tracking-widest text-slate-300 hover:text-pink-500 transition;
}

.menu-button {
  @apply bg-pink-600 text-white px-6 py-2 rounded-full font-bold text-sm uppercase hover:bg-pink-500 transition;
}
